<div id ="<?$_name?>" class='atk-notification ui-state-highlight ui-corner-all <?$class?>'  style="height:150px">
	<div>
		<div style="float:left"><?requested_date?>Gift Income Date<?/requested_date?></div>
		<div style="float:right"><?message_button?>Message<?/message_button?></div>
	</div>
	<div style="clear:both"></div>
	<div style="float:left">
		<h3><?gift_from?>gift from<?/gift_from?> [Level - <?at_level?>--<?/at_level?>]</h3>
		<div>
			<b>Bank Details</b> : <?bank_details?>Bank Details<?/bank_details?>
		</div>
	</div>
	<div style="float:right">
		<h3><?slip_preview?><img src='http://placehold.it/80x80'/><?/slip_preview?></h3>
		<div style="float:left; margin: 5px"><?$approve_button?></div>
		<div style="float:left; margin: 5px"><?$reject_button?></div>
	</div>
</div>