<div id="<?$_name?>" class='atk-notification ui-state-error ui-corner-all giftexpense <?$class?>' style="height:120px">
	<div align="center">
		<font size="4">Points Requested: <b><?points_required?>0<?/points_required?></b></font>
	</div>
	<div style="float: left">
		 <?request_at?>01-01-1970<?/request_at?> <br/>
		 <b><?request_to?>Un-Known person request<?/request_to?></b>
		 <div class='atk-row'>
			<?$btn?>
		</div>
	</div>
	<div style="float: right" align="center">
		<img src='<?$slip_img?>' width="80px" height="80px"/>
	</div>
	
</div>
