<div id ="<?$_name?>">
	<?rows?>
	<?row?>
	<div  class='atk-notification ui-state-highlight ui-corner-all '  style="height:150px">
		<div>
			<div style="float:left"><?requested_date?>date here<?/requested_date?></div>
			<div style="float:right"><?message_button?>Message<?/message_button?></div>
		</div>
		<div style="clear:both"></div>
		<div style="float:left">
			<h3><?gift_from?>gift from<?/gift_from?></h3>
			<div>
				<b>Bank Details</b> : <?bank_details?>Bank Details<?/bank_details?>
			</div>
		</div>
		<div style="float:right">
			<h3><?slip_preview?><img src='http://placehold.it/100x100'/><?/slip_preview?></h3>
			<div align="center"><?approve_reject_button?>[APPROVE] [REJECT]<?/approve_reject_button?></div>
		</div>
	</div>
	<?/row?>
	<?/rows?>
</div>