.pinpurchaseexpense {
	border: 1px dashed red;	
}

.pinpurchaseincome {
	border: 1px dashed green;	
}

.right {
	float: right;
}

.left {
	float: left;
}

.giftincome {
	border: 1px solid gray;
}

.giftexpense {
	border: 1px solid gray;
}

#atk-logo{
	width: 170px;
}